## Auto generated backend.tf ##
## Updated on: {{ timestamp }} ##

{% if tf_distribution_type == "oss" -%}
terraform {
  required_version = ">= 0.15.0"
  backend "s3" {
    region         = "us-east-1"
    bucket         = "aft-backend-759729569404-primary-region"
    key            = "account-provisioning-customizations/terraform.tfstate"
    dynamodb_table = "aft-backend-759729569404"
    encrypt        = "true"
    kms_key_id     = "b511c42e-b90b-402c-9e57-f8a208d88dc1"
    role_arn       = "{{ aft_admin_role_arn }}"
  }
}

{% else -%}
terraform {
    backend "remote" {
        organization = "{{ terraform_org_name }}"
        workspaces {
        name = "{{ terraform_workspace_name }}"
        }
    }
}
{% endif %}
